### Deliverable 1: Preprocessing the Data for a Neural Network

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf
import io
import os
from tensorflow.keras.callbacks import ModelCheckpoint

In [2]:
#  Import and read the charity_data.csv.
# application_df = pd.read_csv("../Resources/charity_data.csv")

from google.colab import files
uploaded = files.upload()

application_df = pd.read_csv(io.BytesIO(uploaded['charity_data.csv']))

application_df.head()

Saving charity_data.csv to charity_data (2).csv

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=["EIN", "NAME", "ORGANIZATION"], axis=1)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,1,100000-499999,N,142590,1

In [4]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts for binning
application_counts = application_df.APPLICATION_TYPE.value_counts()
application_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Determine which values to replace if counts are less than ...?
replace_application = list(application_counts[application_counts < 500].index)

# Replace in dataframe
for app in replace_application:
    application_df.APPLICATION_TYPE = application_df.APPLICATION_TYPE.replace(app,"Other")
    
# Check to make sure binning was successful
application_df.APPLICATION_TYPE.value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df.CLASSIFICATION.value_counts()
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [8]:
# Determine which values to replace if counts are less than ..?
replace_class = list(classification_counts[classification_counts < 1000].index)
# Replace in dataframe
for cls in replace_class:
    application_df.CLASSIFICATION = application_df.CLASSIFICATION.replace(cls,"Other")
    
# Check to make sure binning was successful
application_df.CLASSIFICATION.value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [10]:
# Look at INCOME_AMT value counts for binning
income_counts = application_df.INCOME_AMT.value_counts()
income_counts

0                24388
25000-99999       3747
100000-499999     3374
1M-5M              955
1-9999             728
10000-24999        543
10M-50M            240
5M-10M             185
50M+               139
Name: INCOME_AMT, dtype: int64

In [11]:
# Determine which values to replace if counts are less than ..?
replace_income = list(income_counts[income_counts < 500].index)
# Replace in dataframe
for cls in replace_income:
    application_df.INCOME_AMT = application_df.INCOME_AMT.replace(cls,"Other")
    
# Check to make sure binning was successful
application_df.INCOME_AMT.value_counts()

0                24388
25000-99999       3747
100000-499999     3374
1M-5M              955
1-9999             728
Other              564
10000-24999        543
Name: INCOME_AMT, dtype: int64

In [12]:
# Generate our categorical variable lists
application_cat = application_df.dtypes[application_df.dtypes == "object"].index.tolist()
application_df[application_cat].nunique()

APPLICATION_TYPE          9
AFFILIATION               6
CLASSIFICATION            6
USE_CASE                  5
INCOME_AMT                7
SPECIAL_CONSIDERATIONS    2
dtype: int64

In [13]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(application_df[application_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(application_cat)
encode_df.head()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,AFFILIATION_CompanySponsored,...,USE_CASE_ProductDev,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_Other,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [14]:
# Merge one-hot encoded features and drop the originals
application_df = application_df.merge(encode_df, left_index=True, right_index=True).drop(columns=application_cat, axis=1)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,USE_CASE_ProductDev,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_Other,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [15]:
# Split our preprocessed data into our features and target arrays
y = application_df.IS_SUCCESSFUL
X = application_df.drop("IS_SUCCESSFUL", axis=1)

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0, stratify=y)

In [16]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

### Deliverable 2: Compile, Train and Evaluate the Model

In [17]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
nodes_hidden_layer1 = 100
nodes_hidden_layer2 = 50

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=nodes_hidden_layer1, activation="relu", input_dim=number_input_features))


# Second hidden layer
nn.add(tf.keras.layers.Dense(units=nodes_hidden_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 100)               3800

 dense_1 (Dense)             (None, 50)                5050

 dense_2 (Dense)             (None, 1)                 51

=================================================================
Total params: 8,901
Trainable params: 8,901
Non-trainable params: 0
_________________________________________________________________

In [18]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [19]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5752 - accuracy: 0.7187
Epoch 2/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5640 - accuracy: 0.7249
Epoch 3/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5614 - accuracy: 0.7260
Epoch 4/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5602 - accuracy: 0.7269
Epoch 5/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5587 - accuracy: 0.7285
Epoch 6/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5587 - accuracy: 0.7287
Epoch 7/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5579 - accuracy: 0.7277
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5579 - accuracy: 0.7276
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5567 - accuracy: 0.7286
Epoch 10/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5568 - accuracy: 0.7283
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5567 - accuracy: 0.7295
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5562 - accuracy: 0.7287
Epoch 13/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5562 - accuracy: 0.7296
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5558 - accuracy: 0.7297
Epoch 15/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5557 - accuracy: 0.7291
Epoch 16/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5550 - accuracy: 0.7299
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5554 - accuracy: 0.7285
Epoch 18/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5551 - accuracy: 0.7297
Epoch 19/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5546 - accuracy: 0.7304
Epoch 20/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5545 - accuracy: 0.7299
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5548 - accuracy: 0.7306
Epoch 22/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5543 - accuracy: 0.7305
Epoch 23/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5543 - accuracy: 0.7300
Epoch 24/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5537 - accuracy: 0.7291
Epoch 25/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5539 - accuracy: 0.7301
Epoch 26/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5538 - accuracy: 0.7302
Epoch 27/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5535 - accuracy: 0.7302
Epoch 28/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5536 - accuracy: 0.7307
Epoch 29/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5533 - accuracy: 0.7310
Epoch 30/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5536 - accuracy: 0.7312
Epoch 31/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5528 - accuracy: 0.7304
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5532 - accuracy: 0.7311
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5532 - accuracy: 0.7312
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5531 - accuracy: 0.7305
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5525 - accuracy: 0.7312
Epoch 36/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5528 - accuracy: 0.7315
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5527 - accuracy: 0.7320
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5525 - accuracy: 0.7317
Epoch 39/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5523 - accuracy: 0.7310
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5528 - accuracy: 0.7314
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5522 - accuracy: 0.7316
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5519 - accuracy: 0.7322
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5520 - accuracy: 0.7318
Epoch 44/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5519 - accuracy: 0.7316
Epoch 45/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5519 - accuracy: 0.7319
Epoch 46/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5516 - accuracy: 0.7314
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5518 - accuracy: 0.7322
Epoch 48/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5514 - accuracy: 0.7320
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5516 - accuracy: 0.7317
Epoch 50/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5510 - accuracy: 0.7323
Epoch 51/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5516 - accuracy: 0.7322
Epoch 52/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5512 - accuracy: 0.7317
Epoch 53/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5514 - accuracy: 0.7312
Epoch 54/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5512 - accuracy: 0.7319
Epoch 55/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5509 - accuracy: 0.7322
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5510 - accuracy: 0.7327
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5506 - accuracy: 0.7317
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5507 - accuracy: 0.7323
Epoch 59/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5506 - accuracy: 0.7316
Epoch 60/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5507 - accuracy: 0.7322
Epoch 61/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5506 - accuracy: 0.7319
Epoch 62/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5509 - accuracy: 0.7322
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5506 - accuracy: 0.7327
Epoch 64/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5502 - accuracy: 0.7332
Epoch 65/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5505 - accuracy: 0.7324
Epoch 66/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5506 - accuracy: 0.7324
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5506 - accuracy: 0.7327
Epoch 68/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5500 - accuracy: 0.7325
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5501 - accuracy: 0.7328
Epoch 70/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5503 - accuracy: 0.7318
Epoch 71/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5503 - accuracy: 0.7329
Epoch 72/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5496 - accuracy: 0.7332
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5500 - accuracy: 0.7325
Epoch 74/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5500 - accuracy: 0.7325
Epoch 75/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5498 - accuracy: 0.7330
Epoch 76/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5498 - accuracy: 0.7329
Epoch 77/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5500 - accuracy: 0.7330
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5497 - accuracy: 0.7329
Epoch 79/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5497 - accuracy: 0.7334
Epoch 80/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5496 - accuracy: 0.7331
Epoch 81/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5498 - accuracy: 0.7331
Epoch 82/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5495 - accuracy: 0.7332
Epoch 83/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5493 - accuracy: 0.7335
Epoch 84/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5496 - accuracy: 0.7333
Epoch 85/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5496 - accuracy: 0.7331
Epoch 86/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5491 - accuracy: 0.7331
Epoch 87/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5496 - accuracy: 0.7330
Epoch 88/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5495 - accuracy: 0.7329
Epoch 89/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5496 - accuracy: 0.7331
Epoch 90/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5491 - accuracy: 0.7331
Epoch 91/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5495 - accuracy: 0.7324
Epoch 92/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5490 - accuracy: 0.7332
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5489 - accuracy: 0.7330
Epoch 94/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5495 - accuracy: 0.7329
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5488 - accuracy: 0.7334
Epoch 96/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5492 - accuracy: 0.7330
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5489 - accuracy: 0.7336
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5489 - accuracy: 0.7333
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5493 - accuracy: 0.7329
Epoch 100/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5488 - accuracy: 0.7330

In [20]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5696 - accuracy: 0.7227 - 519ms/epoch - 2ms/step
Loss: 0.569612443447113, Accuracy: 0.7226822376251221

In [22]:
# Export model to HDF5 file
# nn.save("AlphabetSoupCharity_Optimization3.h5")

from google.colab import files
files.download('/content/AlphabetSoupCharity_Optimization3.h5')